# .gitignore
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible
.ansible/
inventory.ini

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.python-version

# Node/Yarn
node_modules/
.yarn/
.yarnrc
.pnp.*
yarn.lock

# IDE
.vscode/
.cursor/

# Local files
*.log
backup.tfstate
provider.conf

# System Files
.DS_Store

# Terraform
terraform/environments/*/terraform.tfvars
terraform/environments/*/.terraform
terraform/environments/*/*.tfstate*
config.yml
